<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marvin.mapsexample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <activity
            android:name=".IntroScreen"
            android:label="@string/title_login_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".restTestScreen"
            android:label="Restful">
        </activity>

        <activity
            android:name=".JoinGame"
            android:label="Join Game">
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>

        <activity
            android:name=".FunctionScreen"
            android:label="Functions">
        </activity>

        <activity
            android:name=".LoadingScreen"
            android:label="Loading">
        </activity>

        <activity
            android:name=".UploadingScreen"
            android:label="Uploading">
        </activity>

        <activity
            android:name=".ARView.ARView"
            android:screenOrientation="landscape"
            android:label="AugmentedReality">
        </activity>

        <activity
            android:name=".CameraPackage.CameraLandingPage"
            android:label="CameraScanner">
        </activity>

        <activity
            android:name=".CameraPackage.InitiateCamera"
            android:screenOrientation="landscape"
            android:label="CameraActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <activity
            android:name=".OSScreen"
            android:label="OS Screen">
        </activity>

        <activity
            android:name=".DialClasses.DialTest"
            android:screenOrientation="landscape"
            android:label="Dial Test">
        </activity>

        <activity
            android:name=".SignalRedirect.InitiatePaintView"
            android:screenOrientation="landscape"
            android:label="Signal Test">
        </activity>

        <activity
            android:name=".DialClasses.SineView"
            android:screenOrientation="landscape"
            android:label="Sine Test">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA6Qtf8DpHoAw79RsS6V102WTZpl5hRws4" />
    </application>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>